#note-create {
    height: 100%;
}
.create-form {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.note-create-title, .note-create-content {
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
}
.note-create-content {
    height: 100%;
    resize: none;
}
.create-btn {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 1rem;
}
.create-save-btn {
    background-color: gold;
    color: black;
    margin-right: 1rem;
}
.create-cancel-btn {
    background-color: white;
    border: 1px solid gold;
    color: gold;
}
.create-cancel-btn:hover {
    background-color: gold;
    color: white;
}