/* Signup and Login shared styling */
.account-form-page {
    animation: fadeIn 0.2s ease-in-out;
    height: 100%;
}
.account-form {
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-between;
    max-width: 500px;
    min-width: 400px;
    width: 40%;
}

.account-form-title, .account-form-footer {
    text-align: center;
}

.account-form-error-msg {
    animation: fadeIn 0.3s ease-in-out;
    background-color: rgba(255,0,0,0.1);
    color: red;
}

.account-form-input, .account-form-btn, .account-form-btn-disabled, .account-form-error-msg {
    border-radius: 10px;
    padding: 1rem;
}
.account-form-input {
    border-color: rgba(0,0,0,0.2);
}

.account-form-btn,.account-form-btn-disabled {
    border: none;
    transition-duration: 0.2s;
}
.account-form-btn {
    background-color: gold;
}
.account-form-btn-disabled {
    background-color: rgba(255, 215, 0, 0.5);
}