#notes-page {
    animation: fadeIn 0.2s ease-in-out;
    display: flex;
    height: 100%;
    overflow-x: hidden;
    width: 100%;
}

.notes-status {
    animation: fadeIn 0.2s ease-in-out;
    background-color: hsla(0, 0%, 80%);
    padding: 1rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    transition-duration: 0.5s;
    z-index: 1;
}
.notes-status-btn {
    cursor: pointer;
    font-weight: bold;
    margin-right: 0.5rem;
    padding: 0.2rem;
}