.hidden-notes-list,
.notes-list {
    height: 90vh;
    padding: 0.5rem;
    overflow-y: scroll;
    position: relative;
    width: 30%;
}
.create-note-item {
    background-color: white;
    border: 0.2rem dashed black;
    cursor: pointer;
    padding: 1rem;
}
.create-note-item:hover {
    background-color: rgba(0,0,0,0.05);
}
.notes-list-block {
    background-color: rgba(0,0,0,0.4);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.bi-caret-left {
    width: 10%;
}