#nav-bar {
    align-items: center;
    background-color: hsl(51, 100%, 50%);
    display: flex;
    height: 10%;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.nav-links {
    display: flex;
    height: 100%;
    position: relative;
    width: fit-content;
}

.logout-btn {
    background: none;
    border: none;
}
.nav-link, .logout-btn {
    align-items: center;
    color: black;
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    font-size: 1em;
    height: 100%;
    margin: 0 0.5rem;
    position: relative;
    text-decoration: none;
}
.nav-link-active::before {
    animation: extend 0.2s;
    background-color: black;
    content: '';
    height: 5%;
    position: absolute;
    top: 90%;
    width: 100%;
}
@keyframes extend {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

.bi-moon-fill {
    background: none;
    fill: black;
    transition-duration: 0.4s;
    width: 100%;
}
.night-mode-switch-container {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 50%;
    max-width: 175px;
    width: 100%;
}
#night-mode-switch {
    display: none;
}
#night-mode-switch-label, #night-mode-switch-label-active {
    border: 1px solid lightgrey;
    border-radius: 34px;
    cursor: pointer;
    height: 100%;
    position: relative;
    transition-duration: 0.4s;
    width: 100%;
}
#night-mode-switch-label {
    animation: sliderColorOff 0.3s ease-in-out forwards;
}
#night-mode-switch-label-active {
    animation: sliderColorOn 0.3s ease-in-out forwards;
}
#night-mode-switch-label::before {
    animation: slideLeft 0.3s ease-in-out forwards;
    background-color: darkgrey;

    border-radius: 34px;
    content: '';
    height: 100%;
    position: absolute;
    width: 50%;
}
#night-mode-switch-label-active::before {
    animation: slideRight 0.3s ease-in-out forwards;
    background-color: darkgrey;
    border-radius: 34px;
    content: '';
    height: 100%;
    position: absolute;
    width: 50%;
}
@keyframes slideRight {
    0% { right: 50%; }
    100% { right: 0; }
}
@keyframes slideLeft {
    0% { left: 50%; }
    100% { left: 0; }
}
@keyframes sliderColorOn {
    100% { background-color: lightgreen; }
}
@keyframes sliderColorOff {
    0% { background-color: lightgreen;}
    100% { background-color: white; }
}