.notes-display {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 70%;
}
.note-display-date {
    color: rgba(0,0,0,0.6);
    text-align: center;
}
.note-display-content p {
    word-wrap: break-word;
}
.no-notes-msg {
    text-align: center;
}
.note-display-shift {
    padding: 1rem;
    width: 100%;
}
.bi-caret-right {
    width: 5%;
}
.show-notes-list-arrow {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 10%;
    width: 100%;
}