#note-delete-prompt-container {
    align-items: center;
    background-color: rgba(0,0,0,0.5);    
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
}
#note-delete-prompt {
    background-color: white;
    padding: 1rem;
}
#note-delete-prompt-btns {
    display: flex;
    justify-content: space-evenly;
}
.note-delete-prompt-btn {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 1rem;
}
.delete-confirm-btn {
    background-color: gold;
}